<a href="https://colab.research.google.com/github/hasinioruganti31-spec/DATASCIENCE-INTERNSHIP/blob/main/Copy_of_TASK_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##2.HIGHEST SAALRY FROM EMPLOYEE DATA
#taking input in dictionary format
employees={"Ravi":75000,"Anitha": 68000,"Kiran":72000}
#variable for highest salary and highest name
highest_salary=0
highest_name=""
#loop through salary
for name,salary in employees.items():
    if salary > highest_salary:
        highest_salary=salary
        highest_name=name
##printing result
print("Highest Salary:",highest_name,"-",highest_salary)

Highest Salary: Ravi - 75000

In [ ]:
#8.CONVERT LIST TO TUPLE
#taking input as list
list=[10,20,30]
#converting list to tuple
Tuple=tuple(list)
print("Tuple:",Tuple)

Tuple: (10, 20, 30)

In [ ]:
##1.UNIQUE WORDS IN A SENTENCE
#Taking the sentence/input
sentence=input("Enter a sentence:")
#splitting the sentence into individual words
words=sentence.split()
#coverting list to set to remove duplicates
unique_words=set(words)
#for  printing count of unique_words
count=len(unique_words)
#printing the result
print("Unique words count:",count)
print("Unique words:",unique_words)

Enter a sentence:python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'and', 'is', 'powerful', 'python'}

In [ ]:
##4.COUNT PRODUCTS ABOVE A PRICE THRESHOLD
prices=[450,1200,899,1500,300]
highest_price=1000
#intiallizing count
count=0
#checking every price like comparing with highest price
for price in prices:
  if price > highest_price:
    count=count+1
print("Products above 1000:",count)

Products above 1000: 2

In [5]:
#3.FIND MAXIMUM AND MINIMUM VALUES
#list of numbers taking as input
numbers=[45,22,89,10,66]
#variables for storing max and min
max=numbers[0]
min=numbers[0]
#loop through list and checking every num in list
for num in numbers:
  if num > max:
    max = num
  if num < min:
    min = num
print("List:",numbers)
print("Max",max)
print("Min:",min)

List: [45, 22, 89, 10, 66]
Max 89
Min: 10

In [6]:
#10 CALCULATE AVERAGE MARKS
#input taking  in the list
marks=[70,75,80,65]
#itialize sum and total len(list)
D=sum(marks)
K=len(marks)
#calculating average marks
average=D/K
#result
print("Average marks:",average)

Average marks: 72.5

In [10]:
#9. CHECK IF A KEY EXISTS IN A DICTIONARY
# input in dictionary
data = {"Employee": "Hasini","Age:":20}
#checking if key exists usimg if else
if "Employee" in data:
  print("Employee exists")
else:
  print("Employee doesnot not exist")

Employee exists

In [11]:
#7.COUNT CHARACTER FREQUENCY
#given text as input
text="python"
#take empty dict for frequency
frequency={}
#count every or each character usig for loop and if else
for char in text:
  if char in frequency:
    frequency[char] += 1
  else:
    frequency[char] = 1
print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [12]:
#6 REMOVE DUPLICATE PHONE NUMBERS
#input given list of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
#converting list to set
#because to remove duplicates
unique_numbers=set(phone_numbers)
print("Unique phone numbers:",unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [17]:
#5 CALCULATE ATTENDANCE PERCENTAGE
#input as given
attendance = ["P", "P", "A", "P", "P"]
#count present means"P"
P=attendance.count("P")
L=len(attendance)
#calculting percentage
percentage = (P/L)*100
print("Attendence Percentage:",percentage)

Attendence Percentage: 80.0